{
  "swagger": "2.0",
  "info": {
    "version": "1.0",
    "title": "Gerenciamento de Protestos",
    "contact": {
      "name": "CertDox - Contato",
      "email": "contato@certdox.com.br"
    }
  },
  "host": "process.certdox.com.br",
  "basePath": "/protestos_poc/v1",
  "schemes": [
    "http"
  ],
  "paths": {
    "/status_protesto":{
    "get": {     
        "tags":["protesto"],
        "parameters": [
          {
            "in":"query",
            "name": "Id",      
            "description": "Identificação do Protesto",
            "required": false,
            "type": "string"
          },
          {
            "in":"query",
            "name": "nosso_numero",      
            "description": "Número de identificação do cliente",
            "required": false,
            "type": "string"
          }],
        "responses": {
              "200": {
              "description": "Concluído"
          }
        }
    }
    }
  },
    "definitions":{
        "Protesto":{"$ref":"/protestos_poc/expand/swagger/Protesto.json#Protesto"},
        "Titulo":{"$ref":"/protestos_poc/expand/swagger/ProtestoTitulo.json#Titulo"},
        "Cedente":{"$ref":"/protestos_poc/expand/swagger/ProtestoCedente.json#Cedente"},
        "Devedor":{"$ref":"/protestos_poc/expand/swagger/ProtestoDevedor.json#Devedor"},
        "Credor":{"$ref":"/protestos_poc/expand/swagger/ProtestoCredor.json#Credor"},
        "CertDox":{"$ref":"/protestos_poc/expand/swagger/ProtestoCertDox.json#CertDox"} 
    } 
}