<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body style="font-family: serif">
        <div style="margin-left:50px">
            <div style="text-align: justify">
                
            </div>
            <table>                
                <tr>
                    <td>Oferta: {CESSION_NUMBER}</td>
                </tr>
                <tr>
                    <td>CNAB: {CNAB_NUMBER}</td>
                </tr>
                <tr>
                    <td>Ofertante: {OFERTANTE_NOME}</td>
                </tr>
                <tr>
                    <td>Ofertado: {OFERTADO_NOME}</td>
                </tr>
                <tr>
                    <td>Quantidade de operações: {CCBS_NR}</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td>Taxa da Cessão a.m.: {TAXA_AM}%</td>
                </tr>
                <tr>
                    <td>Taxa da Cessão a.a.: {TAXA_AA}%</td>
                </tr>
                <tr>
                    <td>Data Cessão: {CESSION_DATE}</td>
                </tr>
                <tr>
                    <td>Hora Processamento: {HORA_PROC}</td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align: justify">A Clicksign conferiu os dados da oferta com os respectivos documentos que possui 
                        em sua base e constatou que os tais títulos encontram-se formalizados, 
                        conforme as informações sumarizadas acima.
                    </td>
                </tr>
                <tr>
                    <td></td>
                </tr>
                <tr>
                    <td style="text-align: center"><a href="{LINK_ACESSO}">Acesse aqui</a> o link da cessão para efetuar as ações cabiveis</td>
                </tr>
            </table>
        </div>
    </body>
</html>
