<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
    <HEAD>
    </HEAD>
    <BODY >
        <BR />
        <BR />
        <BR />
        <BR />
        <BR />
        <p style="margin-left: 0.89in"><FONT face="Verdana, serif" size="2"><B>CÉDULA DE CRÉDITO BANCÁRIO (“CCB”) Nº {NUMERO_CBB}</B></FONT></p>
        <p style="margin-left: 0.89in"><FONT face="Verdana, serif" size="1"><i>(Página de Endosso)</i></FONT></p>
        <br />
        <BR />
        <BR />
        <BR />
        <br />
        <br />
        <br />
        <P style="margin-left: 0.89in"><b>Cédula de Crédito Bancário endossada em {DATA_ENDOSSAMENTO} para {RECEBEDOR_NOME}</B></P>
        <br />
        <P style="margin-left: 0.89in"><b>CNPJ: {RECEBEDOR_CNPJ}</B></P>
        <P style="margin-left: 0.89in"><FONT face="Verdana, serif" size="1">Endossante: {ENDOSSANTE_NOME} (CNPJ: {ENDOSSANTE_CNPJ}).</FONT></P>
        <br />                
        <P CLASS="western" ALIGN=LEFT STYLE="margin-left: 0.89in; margin-right: 0.98in; border-top: none; border-bottom: 1.50pt solid #00000a; border-left: none; border-right: none; padding-top: 0in; padding-bottom: 0.01in; padding-left: 0in; padding-right: 0in; line-height: 0.24in">
        </P>
        <BR>
        <BR>
        <BR>
        <BR>
        <BR>
        <P style="margin-left: 0.89in"><FONT face="Verdana, serif" size="1">Nota:</FONT></P>
        <br />
        <P style="margin-left: 0.89in"><FONT face="Verdana, serif" size="1">Cada representante do endossante {ENDOSSANTE_NOME} está identificado no log de assinaturas com a expressão “assinou como endossante”.</FONT></P>
        <P style="margin-left: 0.89in"><FONT face="Verdana, serif" size="1">Cada representante do endossatário {RECEBEDOR_NOME} está identificado no log de assinaturas com a expressão “assinou como endossatário”.</FONT></P>
        <br />        
        <br />        
        <br />        
        <br />        
        <br />        
        <P ALIGN=CENTER>* * *</P>
    </BODY>
</HTML>