<!-- Main content -->
<section class="content">
    <div class="box hidden">
        {FILTROS}
    </div>
    <!-- TOOL BAR -->
    {TOOLBAR}      
    <!-- TOOL BAR -->
    <!-- Default box -->
    <div class="box"> <!-- TODO: BOOTSTRAP: TAMANHO DA PAGINA QDO CARREGA -->
        <div class="box-body">
            <div class="loading text-center">Carregando Dados <i class="fa fa-refresh fa-spin"></i></div>
            <!-- BEGIN BLOCO_DATATABLE -->
                {CUBE_DATATABLE}
            <!-- END BLOCO_DATATABLE -->
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
        </div>
        <!-- /.box-footer-->
    </div>
    <!-- /.box -->
</section>
