<div id="divDimensaoTemporaria">
    <div id="divDataTableWrapper" style="height: 100%;" class="box-primary">  
        <table id="{nomeDataTable|default:tableData}" class="table table-condensed datatable resposive nowrap" style="width:100%" width="100%">
            <thead class="hidden-xs">
                <tr>
                    <!-- BEGIN BLOCK_CABECALHO_TABELA -->
                    <th>{TEXTO_CABECALHO}</th>
                    <!-- END BLOCK_CABECALHO_TABELA -->
                </tr>
            </thead>
            <tbody></tbody>
        </table>
    </div>
</div>
<div id="divDimensao3">    
</div>
