<div class="box">
    <div class="box-body">
        <div id="divDataTableWrapper" class="{CLASS_DATATABLE_WRAPPER_HIDE}|default:hidden}" style="height: 100%">
            <table id="{nomeDataTable|default:tableData}" class="table table-condensed datatable resposive nowrap" style="{TABLE_WIDTH|default|width:100%}">
                <thead class="hidden-xs">
                    <tr>                            
                        <!-- BEGIN BLOCK_CABECALHO_TABELA -->
                        <th class="{CLASSE_DISPLAY_CABECALHO}">{TEXTO_CABECALHO}</th>
                        <!-- END BLOCK_CABECALHO_TABELA -->
                    </tr>
                    <!-- BEGIN BLOCK_CABECALHO_CUBO -->
                    <tr >
                        <!-- BEGIN BLOCK_CABECALHO_TABELA_CUBO -->
                        <th colspan="{COLSPAN_CABECALHO}">{TEXTO_CABECALHO}</th>
                        <!-- END BLOCK_CABECALHO_TABELA_CUBO -->
                    </tr>
                    <!-- END BLOCK_CABECALHO_CUBO -->
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>