{PAGEHEADER}
<section id="menuLeft">
    {PAGEMENULEFT}
</section>  

<section id="pageContent" >
    <div class="content-wrapper" {WRAPPER_STYLE}>
        <div class="{BOX_CONTENT_ROW}">
            <div class="{BOX_CONTENT_COL}">
                <!-- Content Header (Page header) -->
                <section class="content-header {CONTENT_HEADER_HIDEN|constant:CONTENT_HEADER_HIDEN}">
                    <h1 style="color:{HEADER_COLOR}">
                        <i class="{HEADER_ICO}"></i> {HEADER_TEXT}
                        <small class="visible-xl-inline visible-md-inline visible-lg-inline" style="color:{HEADER_COLOR}">{HEADER_SMALL_TEXT}</small>
                    </h1>
                    <!-- BEGIN BLOCO_MOSTRAR_NAVEGACAO -->
                    <ol class="breadcrumb visible-xl visible-md visible-lg">
                        <li class="{NAVEGACAO_ENTRADA_CLASSE}"><a href="entrada"><i class="fa fa-newspaper-o"></i> Entrada</a></li>
                        <!-- BEGIN BLOCO_NAVEGACAO -->
                        <li><a href="{NAGEVAGAO_LINK}"><i class="{NAV_HEADER_ICO} {NAV_HEADER_CLASS}" style="color:{NAV_HEADER_COLOR}" ></i> <span style="color:{NAV_HEADER_COLOR}" class="{NAV_HEADER_CLASS}">{NAV_HEADER_TEXT}</span></a></li>
                        <!-- END BLOCO_NAVEGACAO -->                                                
                        <li id="extendedNav" class="{EXTEND_NAV_HIDDEN|default:hidden}">
                            <a href="{EXTEND_NAGEVAGAO_LINK}"><i class="{EXTEND_NAV_HEADER_ICO} {EXTEND_NAV_HEADER_CLASS}" style="color:{EXTEND_NAV_HEADER_COLOR}" ></i> <span style="color:{EXTEND_NAV_HEADER_COLOR}" class="{EXTEND_NAV_HEADER_CLASS}">{EXTEND_NAV_HEADER_TEXT}</span></a>                            
                        </li>
                    </ol>
                    <!-- END BLOCO_MOSTRAR_NAVEGACAO -->
                </section>
                <!-- BEGIN BLOCK_CONTENT -->
                {PAGECONTENT}
                <!-- END BLOCK_CONTENT -->
            </div>
        </div>
    </div>
</section>
<!-- PAGE FOOTER -->
{PAGEFOOTER}
<!-- END PAGE FOOTER -->
