<div class="modal fade in" id="modal-{MODAL_NAME}" style="display: none; padding-right: 17px;">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span></button>
                <h4 class="modal-title">{MODAL_TITLE_TEXT}</h4>
            </div>
            <div class="modal-body">
                {MODAL_BODY}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary" onclick="{MODAL_SAVE_CLICK}">{MODAL_SAVE_TEXT}</button>
                <button type="button" class="btn btn-default pull-right" data-dismiss="modal">{MODAL_CLOSE_TEXT}</button>                
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>