<div class="box {CLASS_BOX_DATATABLE} {CLASS_BOX_DATATABLE_HIDE|default:hidden}" style="height: 100%" id="box-content-datatable-{nomeDataTable|default:tableData}" data-widget="collapse"> <!-- TODO: BOOTSTRAP: TAMANHO DA PAGINA QDO CARREGA -->
    <div class="box-header {CLASS_HEADER_BOX_DATATABLE|default:hidden}">
<!--        <h3 class="box-title">Collapsable</h3>
        <div class="box-tools pull-right">
            <button type="button" class="btn btn-box-tool" data-widget="collapse"><i class="fa fa-minus"></i>
            </button>
        </div>    -->
    </div>
    <div class="box-body">            
        <div id="divTopo">
            {TOPO_PAGINA}
        </div>
        <div id="divDataTableWrapper" class="{CLASS_DATATABLE_WRAPPER_HIDE|default:hidden}" style="height: 100%">
            <table id="{nomeDataTable|default:tableData}" class="table table-condensed datatable resposive nowrap" style="{TABLE_WIDTH|default|width:100%}">
                <caption>{CAPTION_DATATABLE}</caption>
                <thead class="hidden-xs">
                    <!-- BEGIN BLOCK_CABECALHO_CUBO -->
                    <tr >
                        <!-- BEGIN BLOCK_CABECALHO_TABELA_CUBO -->
                        <th colspan="{COLSPAN_CABECALHO}">{TEXTO_CABECALHO}</th>
                        <!-- END BLOCK_CABECALHO_TABELA_CUBO -->
                    </tr>
                    <!-- END BLOCK_CABECALHO_CUBO -->
                </thead>
                <tbody></tbody>
            </table>
        </div>
    </div>
</div>
<div id="divDimensao{DIMENSAO_RELONLINE}">

</div>
