<h3>{INSTANCENAME}</h3>
<div class='pre-scrollable'>
    <table class="table">
        <tr> 
            <th id="Head">Data e Hora da A&ccedil;&atilde;o</th>
            <th id="Head">A&ccedil;&atilde;o</strong></th>
            <th id="Head">Tarefa</th>
            <th id="Head">Usu&aacute;rio</th>
        </tr>
        <!-- BEGIN BLOCO_EVENTO -->
        <tr> 
            <td>{EVENTDATETIME}</td>  
            <td>{EVENTDATA}</td>
            <td>{STEPNAME}</td>
            <td>{USERNAME}</td>
        </tr>
        <!-- END BLOCO_EVENTO -->
        <tr> 
            <td colspan="4" class="text-center"><p>Permiss&atilde;o insuficiente ou n&atilde;o h&aacute; eventos</p></td>  
        </tr>  
        <!-- FINALLY BLOCO_EVENTO -->
    </table>
</div>