<!-- PROCESSOS -->

<!-- BEGIN BLOCK_GRUPO_PROCESSOS --> 
<div class="row">
    <div class="col-lg-12">
        <div class="box box-solid box-primary b">
            <div class="box-header">
                {ADMIN_TEXTO_HEADER}
            </div>    
            <div class="box-body">                
                {PROCESSOS}        
                <div class="box-footer">

                </div>
            </div>
        </div>
    </div>
</div>
<!-- END BLOCK_GRUPO_PROCESSOS --> 
<!-- FINAL PROCESSOS -->

<!-- INICIO CAPTURA DOCUMENTO -->
{CAPTURA_DOCUMENTOS}
<!-- FIM CAPTURA DOCUMENTO -->
