<div class="row">
    <div class="form-group">
        <label class="col-sm-2 control-label text-right">#</label>
        <div class="col-sm-10">
            <input class="form-control input-sm" type="text" value="{AUTO_SEQUENCIAL}" readonly id='auto_sequencial' name='auto_sequencial'/>            
        </div>
    </div>
    <div class="form-group">        
        <label class="col-sm-2 control-label text-right">ID</label>
        <div class="col-sm-10">
            <input class="form-control input-sm" type="text" value="{ID_AUTOMATO}" id='id_automato' name='id_automato' readonly />
        </div>
    </div>
</div>
<div class="row  ">
    <div class="form-group">
        <label class="col-sm-2 control-label text-right">Ativo</label>
        <div class="col-sm-2">
            <input type="checkbox" value="1" {ATIVO} id='ativo' name='ativo'/>
        </div>
    </div>
</div>
<div class="row  ">    
    <div class="form-group">
        <label class=" col-sm-2 control-label text-right">Notificar</label>
        <div class="col-sm-2">
            <input type="checkbox" value="1" {NOTIFICAR} id='notificar' name='notificar'/>
        </div>
    </div>
</div>