<div class="input-group">    
    <select name="t{FIELDID}" id="t{FIELDID}" class="form-control input-sm" onchange="{ACTIONFIELD}" title="{FIELDDESC}" aria-field-code="{FIELDCODE}">  
        <option value=""></option>
        <!-- BEGIN BLOCK_CAMPO_LT_ITEM -->
        <option value="{ITEMID}" {ITEMSELECTED}>{ITEMVALUE}</option>
        <!-- END BLOCK_CAMPO_LT_ITEM -->
    </select>    
    <span class="input-group-addon" title="{FIELDDESC}">
        <i class="{FIELDICON}"></i>
    </span>
</div>
