<!-- CAMPO TX -->
<div class="{CLASSE_CAMPO_TX}">
    <input aria-code="{FIELDCOD}" aria-label="{FIELDNAME}" name="{TIPOCAMPO}{FIELD_ID}{FIELDARRAY}" id="{TIPOCAMPO}{FIELD_ID}" class="form-control input-sm" type="text" maxlength="{FIELD_SIZE}" value="{FIELD_VALUE}" {CAMPOREADONLY} />
    <!-- BEGIN BLOCO_ADDON_TXT -->
    <span class="input-group-addon left" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Aa</span>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" href="javascript:">Action</a><br />
        <a class="dropdown-item" href="javascript:">Another action</a><br />
        <a class="dropdown-item" href="javascript:">Something else here</a><br />
    </div>
    <!-- END BLOCO_ADDON_TXT -->
</div>
