<div id="DivFolderFiles">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true" onclick="jsAtualizaCampoListaArquivos({PROCID}, {CASENUM}, {FIELDID}, {TOTAL_ARQUIVOS})">×</button>
        <h4 class="modal-title " id="myModalLabel"><i class="fa fa-files-o"></i> Arquivos</h4>
    </div>
    <div class="modal-body">
        <!-- BEGIN BLOCK_ADD_FD -->        
        <div class="row">
            <div class="col-md-12">
                <button  class="btn btn-primary" type="button" onClick="jsCarregaFieldSelectFile('{PROCID}', '{CASENUM}', '{FIELD_ID}', '{VALUEID}', '{USERID}')" title="Enviar Arquivo"><i class="fa fa-upload"></i> <span class="hidden-md hidden-xs">Carregar</span></button> <button  class="btn btn-primary {HIDECAMERA}" type="button" onClick="jsCarregaFieldWebCaptura('{PROCID}', '{CASENUM}', '{FIELD_ID}', '{VALUEID}', '{USERID}')" title="Enviar Arquivo"><i class="fa fa-camera"></i> <span class="hidden-md hidden-xs">Capturar</span></button>                
            </div>
        </div>
        <!-- END BLOCK_ADD_FD -->
        <!-- BEGIN BLOCK_LISTA_ARQUIVOS -->
        <table class="table table-condensed">
            <thead>
                <tr > 
                    <th class="text-center">&nbsp;</th>
                    <th class="text-center">Arquivo</th>
                    <th class="text-center">Descri&ccedil;&atilde;o</th>
                    <th class="text-center">Vers&atilde;o</th>
                    <th class="text-center">Usu&aacute;rio</th>
                    <th class="text-center">Data</th>
                </tr>
            </thead>
            <!-- BEGIN BLOCK_ARQUIVO -->
            <tr> 
                <td align="center">
                    <!-- <a target="_blank" href="BPMViewFile.php?ProcId={PROCID}&CaseNum={CASENUM}&Target={ARQUIVO_NOME}" class="MVHistorico"><i class="fa fa-eye" title="Abrir arquivo"></i></a> -->
                    <a href="javascript:" onclick="jsViewFile({PROCID}, {CASENUM}, {FIELD_ID}, '{ARQUIVO_NOME_STORAGE}', '{ARQUIVO_NOME_JS}', null, {NOVA_JANELA|constant:ARQUIVOS_NOVA_JANELA})" title="Visualizar Arquivo"><i class="fa fa-file-archive-o"></i></a>                     
                    <!-- BEGIN BLOCK_APAGAR_ARQUIVO -->
                    <a href="javascript:" onclick="jsViewFile({PROCID}, {CASENUM}, {FIELD_ID}, '{ARQUIVO_NOME_STORAGE}', '{ARQUIVO_NOME_JS}', null, {NOVA_JANELA|constant:ARQUIVOS_NOVA_JANELA})" title="Remover Arquivo"><i class="fa fa-trash-o text-warning"></i></a>
                    <!-- END BLOCK_APAGAR_ARQUIVO -->                    
                </td>
                <td align="center">{ARQUIVO_NOME}</td>
                <td align="center">{ARQUIVO_DESCRICAO}</td>
                <td align="center">{ARQUIVO_VERSAO}</td>
                <td align="center">{ARQUIVO_USUARIO}</td>
                <td align="center">{ARQUIVO_DATA}</td>
                <!--
                <td align="center"><?php if ($ReadOnly <> 1) { ?><a target="iframeFolder" onclick="return ApagarArquivo('<?= htmlentities($Abrir) ?>')" href="<?= $Excluir ?>">Excluir</a> <?php } ?>                
                </td>
                -->
            </tr>
            <!-- END BLOCK_ARQUIVO -->
        </table>    
        <!-- END BLOCK_LISTA_ARQUIVOS -->
        <!-- BEGIN BLOCK_TOTAL_ARQUIVOS -->
        <div class="row">
            <div class="col-lg-12 form-group">
                <br>
                <div class="alert alert-success text-center">
                    Total de Arquivos: {TOTAL_ARQUIVOS}
                </div>
            </div>
        </div>
        <!-- END BLOCK_TOTAL_ARQUIVOS -->
    </div>
    <div class="modal-footer">
        <div class="row">
            <div class="col-md-12 text-right">                
                <button name="Input2" class="btn btn-default" type="button" data-dismiss="modal" onclick="jsAtualizaCampoListaArquivos({PROCID}, {CASENUM}, {FIELDID}, {TOTAL_ARQUIVOS})"><i class="fa fa-ban"></i> <span class="hidden-md hidden-xs">Fechar</span></button>
            </div>
        </div>
    </div>
</div>


<div id="DivFolderSelFile" style="display:none">
    <div class="modal-header">
        <button type="button" class="close" onclick="CancelaSelArquivo()">×</button>
        <h4 class="modal-title " id="myModalLabel">Selecionar Arquivo</h4>
    </div>
    <div class="modal-body">
        <div class="box">
            <div class="overlay" id="divOverlaySendFile" style="display: none">
                <i class="fa fa-refresh fa-spin"></i>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1><span id="spanTextoEnvioArquivo">Enviando Arquivo</span> <span id="spanDadosArquivoUpload"></span></h1>
                    </div>
                </div>               
                <div class="progress">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" id="progressBarFolder" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only"><span id="porcentagemValorFolder">%</span> Completo</span>
                    </div>
                </div>
            </div>
            <form style="display:none"> 
                <input class="form-control-file" multiple="" name="fileMultiple" type="file" size="40" id="fileMultiple" onchange="jsArquivoSelecionado('fileMultiple')">
            </form>
            <div class="box-body">
                <form method="POST" enctype="multipart/form-data" name="formFD_SEL_{FIELDID}" id="formFD_SEL_{FIELDID}">
                    <input type="file" name="file" class="hidden">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <label>Arquivo</label> <button class="btn btn-success btn-sm" id="btnSelFiles" type="button" onclick="jsSelectFiles()">Selecionar arquivos</button>
                                </div>
                                <div class="col-md-6 form-group">
                                    <span id="totalArquivosSel"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Descrição</label><input class="form-control input-sm" name="descricao" type="text" size="30" maxlength="30">
                                </div>            
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Versão</label><input class="form-control input-sm" name="versao" type="text" id="versao" size="10" maxlength="10">
                                </div>            
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <canvas id="pdfPreviewFile" style="width: 100%;display:none"></canvas>
                            <img style="width: 100%;display:none" id="imgPreviewFile"/>                            
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            Tamanho máximo do arquivo: {MAXFILESIZE}
                        </div>            
                    </div>
                    <input type="hidden" value="{PROCID}" name="ProcId" id="ProcId">
                    <input type="hidden" value="{CASENUM}" name="CaseNum" id="CaseNum">
                    <input type="hidden" value="{FIELDID}" name="FieldId" id="FieldId"> 
                    <input type="hidden" value="{VALUEID}" name="valueId" id="valueId">
                    <input type="hidden" value="{USERID}" name="userId" id="userId">
                    <input type="hidden" value="{MULTIPLEFILES}" name="multipleFiles" id="multipleFiles">
                </form>
            </div>         
            <div class="modal-footer" id="divBotoesAcao">
                <button  name="Input" class="btn btn-primary pull-left btn_executa_upload" type="button" onclick="jsAjaxUploadToFilesList('formFD_SEL_{FIELDID}', {PROCID}, '{STEPID}', {CASENUM}, {FIELDID}, '{MULTIPLEFILES}')" disabled>Enviar</button>
                <button name="Input2" class="btn btn-default" type="button"  onClick="jsCancelaSelArquivo()"><i class="fa fa-ban"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>
<div id="DivFolderScanFile" style="display:none">
    <div class="modal-header">
        <button type="button" class="close" onclick="CancelaSelArquivo()">×</button>
        <h4 class="modal-title " id="myModalLabel">Capturar Documento</h4>
    </div>
    <div class="modal-body">
        <div class="box">
            <div class="overlay" id="divOverlaySendFile" style="display: none">
                <i class="fa fa-refresh fa-spin"></i>
                <div class="row">
                    <div class="col-lg-12 text-center">
                        <h1><span id="spanTextoEnvioArquivo">Enviando Arquivo</span> <span id="spanDadosArquivoUpload"></span></h1>
                    </div>
                </div>               
                <div class="progress">
                    <div class="progress-bar progress-bar-primary progress-bar-striped" role="progressbar" id="progressBarFolder" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" style="width: 0%">
                        <span class="sr-only"><span id="porcentagemValorFolder">%</span> Completo</span>
                    </div>
                </div>
            </div>
            <form style="display:none"> 
                <input class="form-control-file" multiple="" name="fileMultiple" type="file" size="40" id="fileMultiple" onchange="jsArquivoSelecionado('fileMultiple')">
            </form>
            <div class="box-body">
                <form method="POST" enctype="multipart/form-data" name="formFD_SCAN_{FIELDID}" id="formFD{FIELDID}">
                    <input type="file" name="file" class="hidden">
                    <div class="row">
                        <div class="col-lg-6">
                            <div class="row">
                                <div class="col-md-6 form-group">
                                    <span id="totalArquivosSel"></span>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Descrição</label><input class="form-control input-sm" name="descricao" type="text" size="30" maxlength="30">
                                </div>            
                            </div>
                            <div class="row">
                                <div class="col-md-12 form-group">
                                    <label>Versão</label><input class="form-control input-sm" name="versao" type="text" id="versao" size="10" maxlength="10">
                                </div>            
                            </div>
                        </div>
                        <div class="col-lg-6">
                            <div id="dwtcontrolContainer" ></div>
                            <div class="form-group">
                                <button class="btn btn-success btn-sm pull-left" id="btnSelFiles" type="button" onclick="jsFieldFileAcquireImage()"><i class="fa fa-camera"></i> Capturar</button>
                                <button class="btn btn-warning btn-sm pull-right" disabled id="btnSelFiles" type="button" onclick="jsSelectFiles()"><i class="fa fa-ban"></i> Remover</button>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 form-group">
                            Tamanho máximo do arquivo: {MAXFILESIZE}
                        </div>            
                    </div>
                    <input type="hidden" value="{PROCID}" name="ProcId" id="ProcId">
                    <input type="hidden" value="{CASENUM}" name="CaseNum" id="CaseNum">
                    <input type="hidden" value="{FIELDID}" name="FieldId" id="FieldId"> 
                    <input type="hidden" value="{VALUEID}" name="valueId" id="valueId">
                    <input type="hidden" value="{USERID}" name="userId" id="userId">
                    <input type="hidden" value="{MULTIPLEFILES}" name="multipleFiles" id="multipleFiles">
                </form>
            </div>         
            <div class="modal-footer" id="divBotoesAcao">
                <button  name="btnSendScanFile" id="btnSendScanFile" class="btn btn-primary pull-left btn_executa_upload" type="button" onclick="jsFileUploadScan('formFD_SCAN_{FIELDID}', '{PROCID}', '{STEPID}', '{CASENUM}', {FIELDID}, '{MULTIPLEFILES}')" >Enviar</button>
                <button name="Input2" class="btn btn-default" type="button"  onClick="jsCancelaSelArquivo()"><i class="fa fa-ban"></i> Cancelar</button>
            </div>
        </div>
    </div>
</div>