<div class="row">
    <div class="col-lg-12">
        <!-- COLOCAR LOGO NO LADO DIREITO DA PÀGINA -->
        <div class="col-lg-2" style="display:none">
            <img src="images/{LOGO_PARCEIRO|contant:LOGO_PARCEIRO}" style="width:100%">
        </div>
    </div>
</div>
<div class="row">
    <div class="col-lg-8 col-lg-offset-2" style="margin-top: 20px">
        <div class="row">
            <div class="col-lg-6" style="cursor: pointer">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h4 class="Box-title">Enviar Arquivo</h4>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <!-- BEGIN BLOCK_DEF -->
                            <tr>
                                <td>{DEF_NAME}</td>
                                <td>{DEF_VALUE}</td>
                            </tr>
                            <!-- END BLOCK_DEF -->
                        </table>
                    </div>
                </div>
            </div>        
<div class="col-lg-6" style="cursor: pointer">
                <div class="box box-solid box-primary">
                    <div class="box-header">
                        <h4 class="Box-title">Enviar Arquivo</h4>
                    </div>
                    <div class="box-body">
                        <table class="table">
                            <!-- BEGIN BLOCK_PARAMNS -->
                            <tr>
                                <td>{DEF_NAME}</td>
                                <td>{DEF_VALUE}</td>
                            </tr>
                            <!-- END BLOCK_PARAMNS -->
                        </table>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>