<!--<div class="box box-solid box-default">
    <div class="box-header">
        <div class="box-title">

        </div>
        <div class="box-tools pull-right">
            <button type="button" onclick="jsEscondeViewImages('{DOCID}')" class="btn btn-box-tool"><i class="fa fa-times"></i>
            </button>
        </div>
    </div>
    <div class="box-body" id="BODY_{DOCID}">
        <div class="row" id="ROW_{DOCID}">                       
            {IMAGENS_THUMBS}
        </div>
    </div>
</div>-->
<div id="BODY_{DOCID}">
    <div class="row" id="ROW_{DOCID}">                       
        {IMAGENS_THUMBS}
    </div>
</div>
