<div class="modal fade" id="crModalEditPassword" tabindex="-1" role="dialog" aria-labelledby="crModalEditUser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="divEditUser" style="display: none">
            </div>
            <div id="divLoading">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><span class="{CLASS_COR_ICONE}"><li class="fa fa-lock fa-2x"></li> {TEXTO_TITULO}</span></h4>   
                </div>                  
                <div class="modal-body">      
                    <form name="frmDadosPassword" id="frmDadosPassword">
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-group form-group-sm">
                                Nova Senha
                                <input class="form-control input-sm" type="text" name="USUARIO_SENHA" id="USUARIO_SENHA">                            
                            </div>
                        </div>
                        <input type="hidden" value="{USUARIO_ID}" name="USUARIO_ID" id="USUARIO_ID">
                    </form>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <button type="button" class="btn btn-sm btn-primary pull-left" onclick="jsSalvarSenhaUsuarioRestart()"><i class="fa fa-archive"></i> Salvar</button>
                                <button type="button" class="btn btn-sm btn-default pull-right" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  