<!-- BEGIN BLOCK_SECTION -->
<div class="row">
    <!-- BEGIN BLOCK_COLUMN -->    
    <div class="col-lg-12">        
        <div class="row">
            <div class="col-lg-12">
                <b><small>{TITULOSECTION}</small></b>
            </div>
        </div>
        <div class="row">            
            <div class="col-lg-12">
                <!-- BEGIN BLOCK_INFO -->
                <small class="{INFORMACAOCLASS}">&nbsp;{INFORMACAOTITULO}: <b>{INFORMACAOVALOR}</b> </small><br>                
                <!-- END BLOCK_INFO -->
            </div>            
        </div>          
    </div>
    <!-- END BLOCK_COLUMN -->
</div>
<!-- END BLOCK_SECTION -->
