<div class="row" style="margin-left: 5px; margin-right: 5px">
    <!-- BEGIN BLOCK_PROCESSO_LARGE -->
    <div class="col-lg-4 col-md-6 col-xm-6 border" >    
        <a href="{PROCACTION}" onclick="return jsPrevineEntradaMenuAberto()">
            <div class="info-box">
                <span class="info-box-icon" style="background-color: {PROCCOLOR}; color:#FFF"><i class="fa {PROCICON}"></i></span>            
                <div class="info-box-content">
                    <p></p>
                    <span class="info-box-number text-center">{PROCNAME}</span>
                    <div class="info-box-text">
                        <div class="col-lg-6 col-sm-6 text-center">
                            {PROCDESC} 
                        </div>
                        <div class="col-lg-6 col-sm-6 text-right visible-lg visible-md visible-sm">
                            <span class="badge" style="background-color: {PROCCOLOR}">{TOTALCASOS}</span>
                        </div>
                    </div>
                </div>
            </div>        
        </a>
    </div>
    <!-- END BLOCK_PROCESSO_LARGE -->
</div>
<!-- BEGIN BLOCK_WRAP -->
<div class="w-100" ></div>
<!-- END BLOCK_WRAP --> 
