<div class="hide">
    <form action="" name="FormAcessoCaso" id="FormAcessoCaso" method="post" />
    <input type="hidden" Name ="AdHoc" id="AdHoc" value="" />
    <input type="hidden" Name ="ProcId" id="ProcId" value="{PROCID}" />               
    <input type="hidden" Name ="CaseNum" id="CaseNum" value="" />
    <input type="hidden" Name ="StepId" id="StepId" value="" />
    <input type="hidden" Name ="ProcName" id="ProcName" value="{PROCNAME}" />
    <input type="hidden" Name ="From" id="From" value="{From}" />
    <input type="hidden" Name="Pagina"  id="Pagina" value="{PAGINA}" />
</form>
</div>