<div class="modal fade" id="crModalQueueFilter" tabindex="-1" role="dialog" aria-labelledby="crModalEditUser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title" id="myModalLabel">Filtrar Fila</h4>   
            </div>                  
            <div class="modal-body">  
                <div class="pre-scrollable" style="padding: 5px">
                    {FORM_FIELDS}                    
                </div>
                <div class="modal-footer">
                    <div class="row">
                        <div class="col-lg-12 text-left">
                            <button type="button" class="btn btn-sm btn-primary pull-left" onclick="jsQueueFilter()"><i class="fa fa-filter"></i> Filtrar</button>
                            <button type="button" class="btn btn-sm btn-warning pull-left" onclick="jsLimparFiltros()"><i class="fa fa-ban"></i> Limpar Filtros</button>
                            <button type="button" class="btn btn-sm btn-default pull-right" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                        </div>
                    </div>
                </div>
            </div>        
        </div>
    </div>
</div>  