<section class="content">   
    <div class="box"> <!-- TODO: BOOTSTRAP: TAMANHO DA PAGINA QDO CARREGA -->                
        <div class="box-body">
            <div class="row">               
                <div class="col-lg-4 col-md-6">   
                    <!-- BEGIN BLOCO_RELATORIO_CARD_1 -->
                    {RELATORIO_ITEM}
                    <!-- END BLOCO_RELATORIO_CARD_1 -->      
                </div>                                          
                <div class="col-lg-4 col-md-6">   
                    <!-- BEGIN BLOCO_RELATORIO_CARD_2 -->
                    {RELATORIO_ITEM}
                    <!-- END BLOCO_RELATORIO_CARD_2 -->      
                </div>                                          
                <div class="col-lg-4 col-md-6">   
                    <!-- BEGIN BLOCO_RELATORIO_CARD_3 -->
                    {RELATORIO_ITEM}
                    <!-- END BLOCO_RELATORIO_CARD_3 -->      
                </div>                                          
                <div class="hidden" id='divRelPreview' >

                </div>
                <!-- /.box-body -->
                <!-- /.box-body -->
                <div class="box-footer hide">
                </div>
                <!-- /.box-footer-->

            </div>
            <!-- /.box -->
        </div>

    </div>

</section>

<!-- Fim DivMasterProcess -->	

<!-- BPMSelUserForm -->


<!-- BPMAdHoc -->