<section class="content">   
    <div class="box"> <!-- TODO: BOOTSTRAP: TAMANHO DA PAGINA QDO CARREGA -->                
        <div class="box-body">
            <div class="row">
                <!-- BEGIN BLOCO_RELATORIO -->
                {RELATORIO_ITEM}
                <!-- END BLOCO_RELATORIO -->                
                <div class="hidden" id='divRelPreview' >

                </div>
                <!-- /.box-body -->
                <!-- /.box-body -->
                <div class="box-footer hide">
                </div>
                <!-- /.box-footer-->

            </div>
            <!-- /.box -->
        </div>

    </div>

</section>

<!-- Fim DivMasterProcess -->	

<!-- BPMSelUserForm -->


<!-- BPMAdHoc -->