<div class="box box-primary">
    <div class="box-comment">
        <div class="box-body">
            <div class="row">
                <div class="col-lg-2 form-group-sm">
                    <label>Mês / Ano</label>
                    <select class="form-control form" id="FILTRO_MES_ANO" onchange="jsMudaAnoMesFiltro()"> 
                        <!-- BEGIN BLOCK_MES_ANO_SELECAO -->
                        <option>{MES_ANO_SELECAO}</option>
                        <!-- END BLOCK_MES_ANO_SELECAO -->
                    </select>
                </div>
            </div>
        </div>
    </div>
</div>