<!-- BEGIN "signatario_participacoes" -->
<div id="participacao_{PARTICIPACAO}" class="pull-left" style="padding-right: 5px">
    <span class="bg-red badge"><i class="fa fa-minus" title="Remover Participacao" onclick="jsSignatarioCad_removerParticipacao('{PARTICIPACAO}')"></i></span> <span class='badge bg-gray'>{DESCRICAO}</span>   
</div>                                                                
<!-- END "signatario_participacoes" -->
<!-- BEGIN BLOCK_PARTICIPACAO -->
<div id="participacao_{PARTICIPACAO}" class="pull-left" style="padding-right: 5px">
    <span class="bg-red badge"><i class="fa fa-minus" title="Remover Participacao" onclick="jsSignatarioCad_removerParticipacao('{PARTICIPACAO}')"></i></span> <span class='badge bg-gray'>{DESCRICAO}</span>      
</div>                                                                
<!-- END BLOCK_PARTICIPACAO -->