<div class="modal fade" id="crModalEditPassword" tabindex="-1" role="dialog" aria-labelledby="crModalEditUser" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div id="divEditUser" style="display: none">
            </div>
            <div id="divLoading">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                    <h4 class="modal-title" id="myModalLabel"><span class="text-green"><li class="fa fa-lock fa-2x"></li> {TEXTO_TITULO}</span></h4>   
                </div>                  
                <div class="modal-body"> 
                    <!--                    
                                        <form name="frmDadosPasswordAtual" id="frmDadosPassword" autocomplete="new-password">
                                            <div class="row">
                                                <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-group form-group-sm">
                                                    Senha Atual
                                                    <input class="form-control input-sm" type="password" name="USUARIO_SENHA_ATUAL" id="USUARIO_SENHA_ATUAL" autocomplete="new-password">                                    
                                                </div>
                                            </div>
                                        </form>-->
                    <form name="frmDadosPassword" id="frmDadosPassword" autocomplete="new-password">                        
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-group form-group-sm">
                                Senha Atual:
                                <input class="form-control input-sm" type="password" name="USUARIO_SENHA_ATUAL" id="USUARIO_SENHA_ATUAL">                            
                            </div>
                            <br />
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-group form-group-sm">
                                Nova Senha
                                <input class="form-control input-sm" type="password" name="USUARIO_SENHA" id="USUARIO_SENHA" onkeyup="trataForcaSenha(this)">                            
                            </div>
                            <br />
                            <div class="col-lg-3 col-md-3  col-xs-3">
                                <div id="forcaSenha">
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-xs-6 col-xs-offset-3 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3 form-group form-group-sm">
                                Confirmação Senha
                                <input class="form-control input-sm" type="password" name="USUARIO_SENHA_2" id="USUARIO_SENHA_2" autocomplete="off">                            
                            </div>
                        </div>
                        <input type="hidden" value="{USUARIO_ID}" name="USUARIO_ID" id="USUARIO_ID">
                    </form>
                    <div class="alert alert-warning text-center" id="alertfalhaalteracao" style="display:none">
                        Falha na alteração da senha
                    </div>
                    <div class="modal-footer">
                        <div class="row">
                            <div class="col-lg-12 text-left">
                                <button type="button" class="btn btn-sm btn-primary pull-left" id="btnSalvarSenha" onclick="jsTrocaSenha()" disabled><i class="fa fa-archive"></i> Salvar</button>
                                <button type="button" class="btn btn-sm btn-default pull-right" data-dismiss="modal"><i class="fa fa-ban"></i> Cancelar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>  