<div class="{CLASSE_COLUNA_IMAGEM}">
    <div id="divTextoProcura"></div>
    <div style="width: 100%; height: 100%" id="divCanvas">  
        <div class="div-menu-imagem">
            <i class="fa fa-rotate-left" style="font-size: 52px" onclick="jsRotateImage()"></i>
            <i class="fa  fa-chevron-left"  onclick="jsAvancaRetrocedeImagem(-1)"></i>
            <i class="fa  fa-chevron-right" onclick="jsAvancaRetrocedeImagem(1)"></i>
        </div>
        <canvas>
        </canvas>
    </div>
</div>
