<div id="divDataTableWrapper" class="hide">                
    <table id="{nomeDataTable|default:tableData}" class="table table-condensed datatable resposive nowrap" width="100%" style="width:100%">
        <thead class="hidden-xs">
            <!-- BEGIN BLOCK_CABECALHO_CUBO -->
            <tr>
                <!-- BEGIN BLOCK_CABECALHO_TABELA_CUBO -->
                <th>{TEXTO_CABECALHO}</th>
                <!-- END BLOCK_CABECALHO_TABELA_CUBO -->
            </tr>
            <!-- END BLOCK_CABECALHO_CUBO -->
        </thead>
        <tbody></tbody>
    </table>
</div>
