<table class="table table-condensed">
    <tr>
        <td>
            Número da Cessão: <b>{CESSION_NUMBER}</b>
        </td>
        <td>
            <span class="pull-right">Data: <b>{CESSION_DATE}</b></span>
        </td>
    </tr>
    <!-- BEGIN BLOCK_ENTIDADE -->
    <tr>
        <td class="bg-gray-light" colspan="2">
            <b>{DESC_ENTIDADE}</b>
        </td>
    </tr>
    <!-- BEGIN BLOCK_SIGNATARIO -->
    <tr>
        <td colspan="2">            
            {NOME_SIGNATARIO} - 
            <!-- BEGIN BLOCK_ASSINADO -->
            <span class="text-green"><i class="fa fa-check"></i> Assinatura efetuada</span>
            <!-- END BLOCK_ASSINADO -->
            <!-- BEGIN BLOCK_N_ASSINADO -->
            <span class="text-red"><i class="fa fa-times"></i> Aguardando assinatura</span>
            <!-- END BLOCK_N_ASSINADO -->
        </td>
    </tr>
    <!-- END BLOCK_SIGNATARIO -->
    <!-- END BLOCK_ENTIDADE -->
</table>